body{ background-color: rgb(20, 143, 55);
      font-family: sans-serif;
      text-transform:capitalize;
      text-decoration: underline;
      

}

h1, h2 {color:blueviolet;
  background-color: aqua;
}